.main-content {
    max-width: 1200px;
    margin: -2rem auto 2rem auto;
    padding: 0 2rem;
    position: relative;
}

.tabs {
    display: flex;
    gap: 1rem;
    background-color: rgb(243, 244, 246);
    margin-top: 50px;
    margin-bottom: 1rem;
    justify-content: start;
    position: sticky;
    padding-bottom: 8px;
    padding-top: 6px;
    top: 70px;
    z-index: 100;

}

.tab-btn {
    background: var(--surface-color);
    border: 1px solid var(--border-color);
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    color: var(--text-muted);
    transition: all 0.2s;
}

.tab-btn:hover {
    background-color: rgb(181, 181, 181);
    border: none;
}

.tab-btn.active {
    background: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
}

.item-card {
    background: var(--surface-color);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.item-image {
    width: 100%;
    height: 180px;
    background-color: #e5e7eb;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.2s;
}

.item-image:hover {
    opacity: 0.95;
}

#imageModal {
    background: rgba(0, 0, 0, 0.85);
}

.modal-content-img {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 70%;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    object-fit: contain;
}

.item-details {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 0.5rem;
}

.status-badge {
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.status-lost {
    background: #fee2e2;
    color: #ef4444;
}

.status-found {
    background: #d1fae5;
    color: #10b981;
}

.item-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.item-meta {
    font-size: 0.85rem;
    color: var(--text-muted);
    margin-bottom: 1rem;
}

.category-tag {
    display: inline-block;
    background: var(--bg-color);
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.contact-btn {
    margin-top: auto;
    background: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.contact-btn:hover {
    background: var(--primary-color);
    color: white;
}