.search-item-header {
    text-align: center;
    padding: 4rem;
    background: rgb(167, 55, 55);
    color: white;
}

.search-item-header h2 {
    font-size: 2.2rem;
    margin: 0px;
}

.search-item-header h4 {
    margin: 0px;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: serif;
    font-style: italic;
    font-weight: lighter;
}

.search-filter-container {
    display: flex;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(82, 82, 82, 0.8);
}

.search-filter-container input, 
.search-filter-container select {
    padding: 0.8rem;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
}

.search-filter-container input {
    flex: 1;
    border: none;
}

.search-filter-container select {
    cursor: pointer;
}

